<!-- start custom footer snippets -->
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-TENND71XM9"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-TENND71XM9');
</script>

<script type="text/javascript" id="mapmyvisitors" src="//mapmyvisitors.com/map.js?d=cGkH3PDaHVWEpzvP3BYDV3OM8bOC6otQx1KDSsMJnxw&cl=ffffff&w=a"></script>

<!-- end custom footer snippets -->
